<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>BID YOUR CAR</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name of Car</th>
        <th>Minimum Bid</th>
        <th>Maximum Bid</th>

        <th>Current Bid</th>

        <th>Bid</th>
  
        <th>Bid ends At</th>
      </tr>
      <tr>
        <%dataMobil.forEach(mobil=>{%>
          <td><%=mobil.id%></td>
          <td><%=mobil.name%></td>
          <td><%=mobil.min_bid%></td>
          <td><%=mobil.max_bid%></td>
          <td><%=bid.bid%></td>
          <%if(mobil.status == true){%>
            <form action="/users/<%=user.id%>/bid/<%=mobil.id%>" method="post">
              <td><select name = "bid">
                  <option value="<%=bid.bid + 50000%>"><%=bid.bid +50000%></option>
                  <option value="<%=bid.bid + 100000%>"><%=bid.bid +100000%></option>
                  <option value="<%=bid.bid + 150000%>"><%=bid.bid +150000%></option>
                </select>
                <input type="submit" value="Submit"></td>
              </td>
              
              
            </form>
          <%}%>
          <%if(mobil.status == false){%>
          <td>CLOSED</td>  
        <%}%>
        <td align = 'center'><p id = "demo"></p></td>
          
                
      </tr>
      
<%})%>
</table>
  </body>
  
  <script>
  
  </script>
</html>