<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>BID YOUR CAR</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name of Car</th>
        <th>Minimum Bid</th>
        <th>Maximum Bid</th>
        <th>Time Left (in Hours)</th>
        <th>status</th>
        <th>Owner</th>
        <th>Bid</th>
      </tr>
      <tr>
        <%dataMobil.forEach(mobil=>{%>
          <td><%=mobil.id%></td>
          <td><%=mobil.name%></td>
          <td><%=mobil.min_bid%></td>
          <td><%=mobil.max_bid%></td>
          <td align = 'center'><%=mobil.time%></td>
          <td><%=mobil.status%></td>
          <td><%=mobil.UserId%></td>
          <%if(mobil.status){%>
            <form action="/users/<%=user.id%>/bid/<%=mobil.id%>" method="post">
              <td><input type="text" name="bid" value=""> <input type="submit" value="Submit"></td>
              <%}%>
            </form>
          
          <%if(mobil.status == false){%>
          <td>"closed"</td>  
        <%}%>
                
      </tr>
        <%})%>
    </table>
  </body>
</html>