<%-include('partial/headerPage',{style : "/style.css"}) %>



	<main class="brnd">
		<div class="container">
			

			


			


			

	<div class="row page-entries-bar">

		<div class="col-sm-6 text-truncate">All Items <span class="entry-cnt"></span></div>

		<div class="col-sm-6 text-truncate auction-dt">Ends: <p id='demo'></p></div>
	</div>

	


	

	<div class="row items">
		<!-- google_ad_section_start -->
		<%items.forEach(item =>{ %>
			
			<% if (item.createdAt.getDate() == new Date().getDate()) {%>
				
				<a href="/<%=item.id%>/profileBidding" class="col-lg-3 col-md-4 col-xs-6 item">
				<div class="card">

					<div class="img-section">
		

			<div class="img-box img-lg">
				<%if (!item.status){%>
					<div class="img-banner">Close</div>
				<%}%>
				<div class="inner">
					<img src="https://assets.32auctions.com/pics/54329/overview-camera-20100607_s300.jpg?v=20171024111046" alt="Overview camera 20100607 s300" />

					

					<i class="btn btn-sm btn-secondary fa fa-heart icon wl-btn" data-item-id="1" title="My Watchlist"></i>


					<i class="btn btn-sm btn-secondary fa fa-star icon icon-2" title="My Bids"></i>
				</div>
			</div>


		</div>

					<div class="card-block" title="Apple iPhone (Black) | Bidding ends at 10:00 pm CST on [some date]">

						<h5 class="text-truncate narrow"><%=item.name%></h5>

						<p class="card-text small text-truncate text-muted narrow">Bidding ends at <%=item.getTimeLeft()%></p>

						<h6 class="text-truncate"><span class='currency-symbol'>IDR </span><span class='currency-amount'><%=item.min_bid%></span></h6>
						
							<div class="card-text small text-truncate">Buy Now: IDR <%= item.max_bid%></div>


						<div class="card-text small text-truncate text-muted">bids: <%=item.biddings.length%></div>

					</div>

					

				</div>
		</a>
		<%}%>

		<%})%>

			
		<!-- google_ad_section_end -->
	</div>

			<div class="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-6017730913651474"
				data-ad-slot="5035425258"
				data-ad-format="auto"></ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		</div>


	

	<div class="page-data" hidden>
		
	</div>


		</div>
	</main>

	

	<footer>
	<nav class="navbar navbar-dark">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/pages/about_us.html">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/help.html">Help</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/terms.html">Terms Of Use</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pages/privacy.html">Privacy Policy</a>
				</li>
					<li class="nav-item pull-md-right gs">
						<a class="btn btn-pink nav-link" href="/pages/pricing.html">Get Started</a>
					</li>
			</ul>
			<div class="logo">
				<a href="/">
					<img src="" />
				</a>
			</div>
		</div>
	</nav>
</footer>
<script>
// Set the date we're counting down to
let tanggal = new Date().setHours(23)
var countDownDate = new Date(tanggal).setMinutes(59);

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
	
<script src="https://assets.32auctions.com/assets/application-auction-rwd-7997a1c7900d03fd0116fd2ea1a897e689ed2701f37f022663d0a283ddaae3c0.js"></script>

	<script src="https://assets.32auctions.com/assets/application-analytics-prod-605b019f7b4793fd0c3b42f0553c94b7366fc761b1736e8edadfa974abfa2707.js"></script>

</body>
</html>
