<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Name of Car</th>
        <th>Minimum Bid</th>
        <th>Maximum Bid</th>
        <th>kmams</th>
        <th>Time Left (in Hours)</th>
        <th>Owner</th>
      </tr>
      <tr>
        <%dataMobil.forEach(mobil=>{%>
          <td><%=mobil.id%></td>
          <td><%=mobil.name%></td>
          <td><%=mobil.min_bid%></td>
          <td><%=mobil.max_bid%></td>
          <td><%=mobil.status%></td>
          <td align = 'center'><%=mobil.time%></td>
          <td><%=mobil.owner%></td>
          <td><a href="/mobil/<%=mobil.id%>/delete"> Remove Post</a></td>
                
      </tr>
        <%})%>
    </table>
  </body>
</html>