<%-include('partial/headerPage',{style : "/style.css"}) %>
<div class="" align='center'><font color = 'white'>
  <body>
      <h1><font color = 'white'>Welcome <%=profile.email%></font></h1>
    </div>
    <div class="" align='center'><font color = '#FF8C00'>
      <%if(profile.role == 'Penjual'){%>
        <h3><a href="/users/<%=profile.id%>/addCarTobiding">Add Car</a></h3>
      <%}%>
      <%if(profile.role == 'Renter'){%>
        <h3><a href="/users/<%=profile.id%>/bid">Bid!</a></h3>
      <%}%>  
    </font>
    </div>
    
    <div align= 'center'>
      <h2>Item Bid list</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Name of Car</th>
          <th>Last Bids</th>
          <th>Time</th>
        </tr>
        <tr><%dataBiddings.forEach(bids=>{%>
          <%if(bids.status){%>
            <th><%=bids.id%></th>
            <th><%=bids.MobilId%></th>
            <th><%=bids.bid%></th>
            <th><%=bids.createdAt%></th>
            <th><%=bids.status%></th>
          <%}%>
          </tr>
          
          
        <%})%>
      </table>
    </div>
    <div align = 'center'>
      <h2>Item Bid History</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Name of Car</th>
          <th>Last Bids</th>
          <th>Time</th>
        </tr>
        <tr><%dataBiddings.forEach(bids=>{%>
          <%if(!bids.status){%>
            <th><%=bids.id%></th>
            <th><%=bids.MobilId%></th>
            <th><%=bids.bid%></th>
            <th><%=bids.createdAt%></th>
          <%}%>
        </tr>
        <%})%>
      </table>
    </div>
  </body>
</font>
</div>
</html>
